name: Deploy Mock Container

on: workflow_dispatch

jobs:
  publish_Deploy:
      name: Publish and Deploy
      env:
        ACR_SERVER: babelpdereg.azurecr.io
        APP_NAME: esdcsimulationapimock
      runs-on: ubuntu-latest
      steps:
      - name: Generate build number
        uses: einaregilsson/build-number@v1 
        env: 
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        with:
          token: ${{secrets.github_token}}     
          
      - name: Print new build number
        run: echo Build number is $BUILD_NUMBER   
      - uses: azure/docker-login@v1
        with:
          login-server: ${{env.ACR_SERVER}} 
          username: ${{ secrets.ACR_BABEL_USERNAME }}
          password: ${{ secrets.ACR_BABEL_PASSWORD }}
      - uses: actions/checkout@v1
      
      - name: docker build and push client
        run: |
          docker build -t babelpdereg.azurecr.io/esdcsimulationapimock:latest .
          docker tag babelpdereg.azurecr.io/esdcsimulationapimock:latest babelpdereg.azurecr.io/esdcsimulationapimock:$BUILD_NUMBER
          docker push babelpdereg.azurecr.io/esdcsimulationapimock:latest
          docker push babelpdereg.azurecr.io/esdcsimulationapimock:$BUILD_NUMBER


